@model ProductViewModel
@{
    ViewData["Title"] = "Specific product";
}

<div class="text-center">
    @using (Html.BeginForm("GetById", "Store", FormMethod.Get))
    {

        <span>Id: </span> @Html.TextBoxFor(productViewModel => productViewModel.Id)
        <input id = "Submit" type = "submit" value = "Submit" />
    }

    @if (Model is not null)
    {
        <table class="table table-striped text-center">
            <thead>
            <td>Id</td>
            <td>Title</td>
            <td>Price</td>
            </thead>
            <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Title</td>
                <td>@Model.Price</td>
            </tr>
            </tbody>
        </table>
    }
</div>